<div class="page-header">
  <h3>User #<%= @users.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @users.username %></dd>

      <dt>Email</dt>
      <dd><%= @users.email %></dd>

      <dt>Books</dt>
      <dd><%= @users.books.each do |book| %>
        <img src="<%= book.image_url %>" class="img-responsive">
        <% end %>
      </dd>

    </dl>

  </div>
</div>
